:root {
--main-color: #00401b;
--accent-color: #FBAD86;
}
/* Base */

body {
    background-color: var(--main-color);
    color: var(--accent-color);
}

footer{
    height: 80px;
    background-color: var(--accent-color);
}

footer p{
    text-align: center;
    font-size: 23px;
    color: var(--main-color);
    padding: 20px;
}


/* Kontakt sida */
form{
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 20px;
}